@import "fontawesome.css";
@import "reset.css";

/*----------------*/

input[type=file] {
  display: none;
}

noscript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  z-index: 999;
}

noscript p {
  max-width: 75vw;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

/*----------------*/

main,
#outer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0 4%;
  word-wrap: break-word;
}

main>* {
  text-align: center;
}

#outer_container {
  margin: 0.65rem 0;
}

#outer_container.fullscreen {
  width: 100vw;
  background: #000000;
}

#container {
  --padding: 0.6em;
  --margin: var(--padding);
  --font-size: 1rem;
  --background: rgba(0, 0, 0, 0.65);

  position: relative;
  background: #252525;
  font-size: var(--font-size);
}

.dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: var(--padding);
  top: 50%;
  left: 50%;
  width: 50%;
  min-height: 15%;
  background: var(--background);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.9em;
}

.box_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: var(--padding) 0;
}

.box_2>* {
  margin: 0 var(--padding);
}

#replay {
  margin-top: calc(var(--padding) * 1.25);
  font-size: 1.25em;
}

#change_speed {
  font-size: var(--font-size);
  z-index: 999;
}

#speed_rate {
  display: inline-block;
  padding: 2px 4px;
  color: white;
  text-align: center;
}

#select_loop_box>* {
  transition: color 0.2s ease;
}

#select_loop_box .selected {
  color: var(--theme-color);
}

#container i::before {
  display: inline-block;
  min-width: 20px;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#container i:active::before {
  color: var(--theme-color);
}

#container>*:not(canvas) {
  position: absolute;
  color: white;
  text-align: center;
}

#play,
#fullscreen {
  top: var(--padding);
}

#play {
  left: var(--margin);
  z-index: 998;
}

#fullscreen,
#looper {
  right: var(--margin);
  z-index: 998;
}

#looper {
  top: 50%;
  transition: transform 0.2s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-shadow: rgba(0, 0, 0, 0.75) 0 0 8px;
}

#container.playing #play {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 8px;
}

#container.playing #fullscreen {
  text-shadow: rgba(0, 0, 0, 0.75) 0 0 8px;
}

#speed {
  transition: transform 0.2s ease;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 8px;
  z-index: 999;
}

#speed.transformed {
  top: 50% !important;
  left: var(--margin) !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#top_control,
#bottom_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--padding) var(--margin);
  width: 100%;
  background: var(--background);
}

#top_control {
  top: 0;
}

#bottom_control {
  bottom: 0;
}

#play_2 {
  opacity: 0;
}

#time,
#progress {
  width: 60%;
  font-size: 0.9em;
}

#progress {
  background: transparent;
  outline: none;
}

#progress::-webkit-slider-runnable-track {
  height: var(--padding);
  background: #999999;
  border-radius: 50px;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--padding) * 1.5);
  height: calc(var(--padding) * 1.5);
  margin-top: calc(0rem - var(--padding) / 4);
  background: var(--background-color);
  border-radius: 50px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

#progress::-moz-range-track {
  height: var(--padding);
  background: #999999;
  border-radius: 50px;
}

#progress::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: calc(var(--padding) * 1.5);
  margin-top: calc(0rem - var(--padding) / 4);
  background: var(--background-color);
  border-radius: 50px;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

#progress:disabled {
  opacity: 0.75;
}

#progress:not(:disabled):hover::-webkit-slider-thumb {
  background: var(--theme-color);
}

#canvas {
  vertical-align: bottom;
}

/*----------------*/

span.button {
  display: inline-block;
  padding: 6px 8px;
  min-width: 4rem;
  border: 1px solid var(--border-color);
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  font-size: 0.9em;
}

span.button:active {
  border-color: var(--theme-color);
}

input[type=number],
input[type=text] {
  padding: 6px 8px;
  width: 8rem;
  border: 1px solid var(--border-color);
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  font-size: 0.9em;
  text-align: center;
}

input[type=number]:focus,
input[type=text]:focus {
  border: 1px solid var(--theme-color);
}

.range {
  --length: 0.75rem;

  background: transparent;
  outline: none;
}

.range::-webkit-slider-runnable-track {
  height: var(--length);
  background: #999999;
  border-radius: 50px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--length) * 1.5);
  height: calc(var(--length) * 1.5);
  margin-top: calc(0rem - var(--length) / 4);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.range::-moz-range-track {
  height: var(--length);
  background: #999999;
  border-radius: 50px;
}

.range::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: calc(var(--length) * 1.5);
  height: calc(var(--length) * 1.5);
  margin-top: calc(0rem - var(--length) / 4);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  -moz-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

.range:disabled {
  opacity: 0.75;
}

.range:not(:disabled):hover::-webkit-slider-thumb {
  border-color: var(--theme-color);
}
